<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="partials/head :: head('Certificados Home')"></head>
<body>
<header>
    <nav th:replace="partials/navbar :: navbar"></nav>
</header>
<main class="container mt-4">

    <h1>Certificados</h1>
    <hr/>
    <a class="btn btn-success" th:href="@{certificado/cadastrar}">Novo</a>

    <div class="row pt-1 mt-3">

        <div class="col-lg-6 mb-2" th:each="certificado: ${certificados}">
            <div class="card card-body d-flex flex-row justify-content-between align-items-center">
                <h5 class="m-0" th:text="${certificado.nome}"
                    style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 85%;">Nome</h5>
                <div>
                    <a class="btn btn-primary" th:href="@{certificado/editar/} + ${certificado.id}">
                        <span class="bi bi-pencil-square"></span>
                    </a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#modal' + ${#strings.arraySplit(certificado.id,'-')[0]}">
                        <span class="bi bi-trash"></span>
                    </button>
                </div>
            </div>
            <!--  MODAL  -->
            <div class="modal fade" th:id="'modal' + ${#strings.arraySplit(certificado.id,'-')[0]}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Tem certeza que deseja excluir <span th:text="${certificado.nome}">Nome</span>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <form th:action="@{certificado/excluir/} + ${certificado.id}" method="post">
                                <button class="btn btn-danger" type="submit">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
</body>
</html>