<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="partials/head :: head('Template')"></head>
<body>
<header>
    <nav th:replace="partials/navbar :: navbar"></nav>
</header>
<main class="container mt-4">
    <div class="row">
        <div class="col-sm-6 mb-2">
            <a class="card card-body text-decoration-none" th:href="@{/template/sobre-mim}">
                <h2><span class="bi bi-file-earmark-person"></span> Sobre Mim</h2>
            </a>
        </div>
        <div class="col-sm-6 mb-2">
            <a class="card card-body text-decoration-none" th:href="@{/template/contato}">
                <h2><span class="bi bi-person-lines-fill"></span> Contato</h2>
            </a>
        </div>
    </div>
</main>
</body>
</html>