@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	background-color: #161b1f;
	background-image: url("/bg/1.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}

body {
	width: 100%;
}

main {
	width: 900px;
	margin: auto;
}

strong {
	color: #3e67e0;
}

a {
	color: #3e67e0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.Line {
	width: 100%;
	margin: 10px 0;
	border-top: solid 1px #3e67e0;
}

@media screen and (max-width: 940px) {
	main {
		width: 100%;
		padding: 0 20px;
	}
}
