.Content {
	width: 100%;
}

.List {
	width: auto;
	margin-bottom: 25px;
	overflow: auto;
	white-space: nowrap;
}

.List::-webkit-scrollbar-track {
	background-color: #40464b;
	border-radius: 10px;
}

.List::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
	height: 10px;
}

.List::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #161b1f;
}

.Pagination {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
