<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="partials/head :: head('Home')"></head>
<body>
<header>
    <nav th:replace="partials/navbar :: navbar"></nav>
</header>
<main class="container mt-4">
    <div class="row">
        <div class="col-sm-6 mb-2">
            <a class="card card-body text-decoration-none" th:href="@{/projetos}">
                <h2><span class="bi bi-terminal"></span> Projetos</h2>
            </a>
        </div>
        <div class="col-sm-6 mb-2">
            <a class="card card-body text-decoration-none" th:href="@{/certificados}">
                <h2><span class="bi bi-award"></span> Certificados</h2>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row pt-1">
        <div class="col-sm-6 mb-2">
            <a class="card card-body text-decoration-none" th:href="@{/tipos-projeto}">
                <h5><span class="bi bi-boxes"></span> Tipos de projeto</h5>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="card card-body text-decoration-none" th:href="@{/tecnologias}">
                <h5><span class="bi bi-code-slash"></span> Tecnologias</h5>
            </a>
        </div>
    </div>
</main>
</body>
</html>